@charset "utf-8";

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #444444;
}

h1,
h2,
h3,
strong {
    color: #222222;
}

small {
    color: #888888;
}

a {
    color: lightseagreen;
}

a:hover {
    color: #4a8aa1;
}

a:visited {
    color: violet;
}

a:visited:hover {
    color: #4a8aa1;
}

ul li {
    line-height: 2rem;
}

hr {
    border: 1px dashed lightseagreen;
}

.Container {
    display: grid;
    grid-template-rows: max-content 1fr auto;
    grid-template-columns: minmax(10px, 15%) 1fr minmax(10px, 15%);
    min-height: 100lvh;
}

.Header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.Main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.Footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: #eeeeee;
}

.Menu {
    display: flex;
    justify-items: center;
    max-width: 100%;
    padding-inline-start: 0;
    list-style: none;
}

.MenuItem {
    text-align: center;
    border-left: 1px solid lightseagreen;
    border-right: 1px solid lightseagreen;
}

.MenuItem+.MenuItem {
    border-left: 0;
}

.MenuItem a {
    display: block;
    padding: 0 3rem;
    text-decoration: none;
    color: #444444;
}

.MenuItem--active a {
    font-weight: bold;
}

.Highlight {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: lightseagreen;
    text-underline-offset: -0.2em;
}

.Copyright {
    color: #222222;
}