@charset "utf-8";

/* 基本の設定（ライトモード） */
html {
    --background-body: #f9f9f9;
    --background-alt: #eeeeee;
    --text-strong: #222222;
    --text-main: #444444;
    --text-muted: #888888;
    --accent: lightseagreen;
    --focus: #4a8aa1;
    --visited: violet;
}

/* Dark クラスが付与されるとダークモードになる */
html.Dark {
    --background-body: #444444;
    --background-alt: #222222;
    --text-strong: #ffffff;
    --text-main: #eeeeee;
    --text-muted: #aaaaaa;
    --accent: #d7d742;
    --focus: #797909;
    --visited: #00ffff;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--background-body);
    color: var(--text-main);
}

h1,
h2,
h3,
strong {
    color: var(--text-strong);
}

small {
    color: var(--text-muted);
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--focus);
}

a:visited {
    color: var(--visited);
}

a:visited:hover {
    color: var(--focus);
}

ul li {
    line-height: 2rem;
}

hr {
    border: 1px dashed var(--accent);
}

.Container {
    display: grid;
    grid-template-rows: max-content 1fr auto;
    grid-template-columns: minmax(10px, 15%) 1fr minmax(10px, 15%);
    min-height: 100lvh;
}

.Header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.Main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.Footer {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    background-color: var(--background-alt);
}

.Menu {
    display: flex;
    justify-items: center;
    max-width: 100%;
    padding-inline-start: 0;
    list-style: none;
}

.MenuItem {
    text-align: center;
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
}

.MenuItem+.MenuItem {
    border-left: 0;
}

.MenuItem a {
    display: block;
    padding: 0 3rem;
    text-decoration: none;
    color: var(--text-main);
}

.MenuItem--active a {
    font-weight: bold;
}

.Highlight {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: var(--accent);
    text-underline-offset: -0.2em;
}

.Copyright {
    color: var(--text-strong);
}

.ModeButton {
    position: absolute;
    top: 5px;
    left: 10px;
}

/* ライトモードにするボタン：ライトモード時非表示 */
.ModeButton .ModeButton--light {
    display: none;
}

/* ライトモードにするボタン：ダークモード時表示 */
html.Dark .ModeButton .ModeButton--light {
    display: block;
}

/* ダークモードにするボタン：ライトモード時表示 */
.ModeButton .ModeButton--dark {
    display: block;
}

/* ダークモードにするボタン：ダークモード時非表示 */
html.Dark .ModeButton .ModeButton--dark {
    display: none;
}